.places{
    margin-left: 25%;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
article h2{
    width: 390px;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    border-radius: 4px;
    text-align: center;
}
.places h1{
    font-size: 30px;
    margin-left: 20px;
    width: 900px;
}
.price_by_night {
    color:#FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 150px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    right: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.price_by_night p{
    margin-top: 10px;
     padding: 5px;
}
.information{
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: grid;
    grid-template-columns: 117px 117px 117px;
    align-content:stretch;
}
.max_guest{
    background: url("../images/icon_group.png");
    background-repeat: no-repeat;
    width: 100px;
    background-position: 10% 120%;
    margin-left: 20px;
}
.numbers_rooms{
    background: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    width: 100px;background-position: 10% 120%;
    margin-left: 10px;
}
.numbers_bathrooms{
    background: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    width: 100px;
    background-position: 10% 120%;
    margin-left: 10px;
}
.user{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 20px;
    padding-top: 0;
}
.user p{
    margin-top: 0;
}
.description{
    margin-left: 20px;
}
.places article{
    border: solid #FF5A5F 1px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}